@import "style.css";

.YELLOW {
    background-image: url("../images/VaseIcon.png");
    background-size: 55%;
    background-color: var(--TUDYellow);
    background-repeat: no-repeat;
    background-position-x: 18px;
    background-position-y: 1px;
    animation-name: yellowPieceDrop;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
.RED {
    background-image: url("../images/ChurchIcon.png");
    background-size: 70%;
    background-color: var(--TUDRed);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 5px;
    animation-name: redPieceDrop;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

#yourTurn:hover::after {
    content: "You found an easter egg!";
}

@keyframes redPieceDrop {
    0% {background-color: var(--TUDRed);}
    50% {background-color: #932928;}
    100% {background-color: var(--TUDRed);}
}

@keyframes yellowPieceDrop {
    0% {background-color: var(--TUDYellow);}
    50% {background-color: #bb9621;}
    100% {background-color: var(--TUDYellow);}
}

#board {
    cursor: pointer;
    user-select: none;
}

.Red {
    color: var(--TUDRed);
}

.Yellow {
    color: var(--TUDYellow);
}

header {
    display: inline;
}

table {
    position: absolute;
    left: calc(50% - 350px);
    top: 35%;
    background-color: var(--TUDBlue);
    border-radius: 30px;
    width: 700px;
    height: 600px;
    table-layout: fixed;
    padding: 40px;
}

td {
    background-color: white;
    border-radius: 50%;
    border: 3px black solid;
}

tr {
    margin: 20px;
}

#topBar {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 100px;
    position: absolute;
    top: 40px;
    width: 99%;
    text-align: center;
    font-size: 150%;
}

#color {
    font-weight: bold;
    font-size: 160%;
    -webkit-text-stroke: 1px black;
}
