@import "style.css";



h1 {
    text-align: center;
    font-size: 450%;
}

#RulesList {
    position: absolute;
    left: calc(50% - 450px);
    text-align: center;
    font-size: 150%;
    color: white;
    font-weight: bold;
    background-color: var(--TUDBlue);
    padding: 13px 50px;
    border-radius: 50px;
    width: 800px;
}

